body {
    margin: 0px;
    background: #1B2029;
    color: white;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    width: auto;
    heidth: auto;
}


main{
    display: flex;
    width: 75vw;
    flex-direction: column;
    justify-content: flex-start;
}

section{
    display: flex;
    width: 25vw;
    flex-direction: column;
}

.a1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: end;
    background-color: rgb(6, 43, 255);
    width: 75vw;
    height: 50vh;
}

.a1>button{
    margin-left: 3vh;
    padding: 4vh;
    border: none;
}
.a2{
    background-color: rgb(142, 0, 0);
    width: 75vw;
    height: 50vh;
}
.a3{
    margin-top: 2.3vh;
    background-color: rgb(255, 255, 0);
    width: 25vw;
    height: 25vh;
}
.a4{
    background-color: rgb(60, 255, 0);
    width: 25vw;
    height: 25vh;
}

.logo{
     width: 24.8vw;
}

media(max-width: 1920px) {
    body {
        width:1720px;
    }
    h1,h2,h3,h4{
        font-size: 44px;
    }
}
@media(max-width: 1720px) {
     body  {
        width:1520px;
    }
    h1,h2,h3,h4{
        font-size: 48px;
    }
}
@media(max-width: 1520px) {
     body  {
        width:1320px;
    }
    h1,h2,h3,h4{
        font-size: 52px;
    }
}
@media(max-width: 1320px) {
     body  {
        width:1120px;
    }
    h1,h2,h3,h4{
        font-size: 56px;
    }
}
@media(max-width: 1120px) {
     body  {
        width:920px;
    }
    h1,h2,h3,h4{
        font-size: 60px;
    }
}
